<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


    <servlet>
        <servlet-name>spring</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>



    <servlet-mapping>
        <servlet-name>spring</servlet-name>
        <!--
          #3. MyMVC에서 사용했던 FrontController 서블릿에 해당하는
                          스프링의 서블릿이다.
                         URL패턴에서 확장자가 *.action 인 것으로 요청을 하면 (우리들끼리 정한거)
                         appServlet 서블릿이 받아서 처리를 해준다.
        -->
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <!--
 The definition of the Root Spring Container shared by all Servlets and Filters
-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>WEB-INF/spring-servlet.xml</param-value>
    </context-param>
    <!--
     Creates the Spring Container shared by all Servlets and Filters
    -->
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    <!--  Processes application requests  -->

    <!--  #4. POST방식으로 요청시 데이터 인코딩처리(UTF-8) 필터 추가  -->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>
            org.springframework.web.filter.CharacterEncodingFilter
        </filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
</web-app>





